<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="E2E">
    <test name="E2E_Tests">
        <classes>
            <!-- Your test runner class that integrates Cucumber with TestNG -->
            <class name="stepdefs.TestNGCucumberRunner"/>
        </classes>
    </test>
</suite>
